{% extends "students/form.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans 'Login Form' %}{% endblock meta_title %}

{% block extra_css %}
	<style>

	body {
    	background-color: #FFFAFA;
    	color: #333;

    	}
		
	label {
    	color: black;
    	display: inline;
    	font-size: 110%;
    	font-weight: 700;
    	line-height: 2;
    	float: right;
    	text-align: left;
    	white-space: nowrap;

		}

	form {
		float: left;
		width: 100%;
		background-color: #d9edf7;
		padding-left:15px;
		padding-top:15px;
		padding-bottom:15px;
		color: #333;

		}

	.label {
    	color: #333;
    	display: inline;
    	font-size: 110%;
    	font-weight: 700;
    	line-height: 2;
    	text-align: left;
    	white-space: nowrap;
	
	}

	.btn-fb {
    	background-color: #3b5998;
    	color: white;
    	margin-left: 70px;
    	margin-top: 12px;
    	margin-bottom: 5px;

		}

	.btn-git {
		background-color: #24292e;
		color: white;
		margin-top: 12px;
    	margin-bottom: 5px;

	}

	.btn-tw {
    	background-color: #55acee;
    	color: white;
    	margin-top: 12px;
    	margin-bottom: 5px;

	}

	.form-control {
    	border-color: black;
    	box-shadow: none;
    	color: #555;
    	height: 50px;
    	padding-left: 10px;
    	padding-right: 10px;
    	text-align: left;
    	width: 698px;

	}

	#btn-google {
    	margin-top: 12px;
    	margin-bottom: 5px;

		}

	#btn-register {
    	margin-top: 12px;
    	margin-bottom: 5px;

		}

	#div-btn{
		float: center;
    	margin-left: 8px;
    	margin-bottom: 10px;

		}

	</style> 
	
{% endblock extra_css %}

{% block users_toolbar %}{% endblock users_toolbar %}

{% block selector %}{% endblock selector %}

{% block subhead %}{% trans 'Login' %}{% endblock subhead %}

{% block content %}

	<!-- Start Main Page Content -->

	<div class="row" id ="content-columns">
		
	<div class="col-xs-12" id="content-column">
	  <h3>{% trans 'Login Form' %}</h3>
	</div>

	{% if form.errors %}

	<div class="alert alert-warning" role="alert">
		<!-- Будь-ласка, виправте наступні помилки -->
		{% trans 'Please correct the following errors' %}
	</div>

	{% endif %}

<form action="{% url 'users:auth_login' %}" method="post" accept-charset="utf-8" id="login_form">

	{% csrf_token %}
	<input type="hidden" name="next" value="{% url 'home' %}">

	<div class="form_group">
	<div class="col-xs-4">
		<label for="login" id="label_login">{% trans 'Username' %}</label></div>
	<div class="col-xs-8">
		<input type="text" name="username" class="form-control" id="login" value="">
	</div>
	</div>

	<div class="form-group">
	<div class="col-xs-4">
		<label for="password" id="label_password">{% trans 'Passsword' %}</label></div>
	<div class="col-xs-8">
		<input type="password" class ="form-control" id="password" value="" name="password">
	</div>
	</div>

	<div class="col-xs-12" id="div-btn">
		<input id="submit-id-login_button"
 			class="btn save btn-primary" name="add_button" value="{% trans 'Login' %}" type="submit">
			<input id="submit-id-login_cancel_button" class="btn cancel btn-danger" name="login_cancel_button"
			value="{% trans 'Cancel' %}" type="button">
	
	<a href="{% url 'social:begin' 'facebook' %}?next={% url 'home' %}"><button type="button" class="btn btn-fb"><i class="fa fa-facebook left" title="{% trans ' Sign in' %}"></i>{% trans ' Facebook' %}</button></a> |

	<a href="{% url 'social:begin' 'google-oauth2' %}" class="registration-form-link"><button type="button" class="btn goo btn-danger" id ="btn-google"><i class="fa fa-google-plus left" title="{% trans ' Sign in' %}"></i> {% trans ' Google+' %}</button></a> |

	<a href="{% url 'social:begin' 'twitter' %}"><button type="button" class="btn btn-tw"><i class="fa fa-twitter" aria-hidden="true"></i>{% trans ' Twitter' %}</button></a> |

	<a href="{% url 'social:begin' 'github' %}"><button type="button" class="btn btn-git"><i class="fa fa-github" aria-hidden="true"></i>{% trans ' GitHub' %}</button></a> |

	<a href="{% url 'register' %}" class="registration-form-link"><button type="button" class="btn reg btn-success" id="btn-register"><i class="fa fa-address-card-o" aria-hidden="true"></i>{% trans ' Registration' %}</button></a>
</div>

</form>

</div>

	<!-- End Main Page Content-->
	
{% endblock content %}
