{% extends "students/form.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}{% trans 'Registration Form' %}{% endblock meta_title %}

{% block extra_css %}
	<style>
		
	label {
    
    	color: black;
    	display: inline;
    	font-size: 110%;
    	font-weight: 700;
    	line-height: 2;

    	text-align: left;
    	white-space: nowrap;
    	margin-left: 0px;
    	float: right;
	}

    .form-group{
    		margin-top: 20px;
    		margin-left: 0px;
    }

    .form-control {
    border-color: black;
    box-shadow: none;
    color: #555;
    height: 50px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
    width: 520px;
}

	#div-btn{
		float: center;
    	margin-left: 50px;
		}
		
	</style> 
	
{% endblock extra_css %}

{% block users_toolbar %}{% endblock users_toolbar %}

{% block selector %}{% endblock selector %}

{% block subhead %}{% trans 'Registration' %}{% endblock subhead %}

{% block content %}

	<!-- Start Main Page Content -->

	<div class="row" id ="content-columns">
		
	<div class="col-xs-12" id="content-column">
	  <h3>{% trans 'Registration Form' %}</h3></div>

	{% if form.errors %}

	<div class="alert alert-warning" role="alert">
		<!-- Будь-ласка, виправте наступні помилки -->
		{% trans 'Please correct the following errors' %}
		{{ form.non_field_errors }}
	</div>

	{% endif %}

	{% csrf_token %}

	{% crispy form %}

</div>

	<!-- End Main Page Content-->
	

{% endblock content %}