{% extends "students/form.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans 'Users' %}{% endblock meta_title %}

{% block extra_css %}
	<style>

	body {
    background-color: {{BACKGROUND}};
    color: {{TC}};
    }
		
		label {
    		color: {{TC}};
    		display: inline;
    		font-size: 110%;
    		font-weight: 700;
    		line-height: 2;
    		float: right;
    		text-align: left;
    		white-space: nowrap;
		}

		form {
		float: left;
		width: 100%;
		background-color: {{STYLE}};
		padding-left:15px;
		padding-top:15px;
		padding-bottom:15px;
		color: {{TC}};

		}

	 a {
      color: {{LINK}};
      text-decoration: none;

    }

    a:hover, a:focus {
      color: {{FOCUS}};
      text-decoration: underline;

    }

    .home {
		width: 150px;
	}

	.save, .cancel {
		width: 180px;
	}

	.edit, .e-cancel {
		width: 100px;
	}

		#div-btn{
			float: left;
    		margin-left: 5px;
		}

		.modal-title {
			color: #333;
		}
		
	</style> 
	
{% endblock extra_css %}

{% block selector %}{% endblock selector %}

{% block subhead %}{% trans 'Users' %}{% endblock subhead %}

{% block content %}

	<!-- Start Main Page Content -->

<div class="row" id ="content-columns">
		
	<div class="col-xs-12" id="content-column">
	  <h3>{% trans 'Users List' %}</h3>
	</div>

  <table class="table table-bordered" 
  id ="students-journal">
    <thead>
    <tr class="header">
      <th class="num">#</th>
      <th class="name">{% trans 'User' %}</th>
      <th class="name">{% trans 'First Name' %}</th>
      <th class="name">{% trans 'Last Name' %}</th>
      <th class="name">{% trans 'Email' %}</th>
      <th class="name">{% trans 'Actions' %}</th>
    </tr>
    </thead>

     <tbody>
        
      {% csrf_token %}

	{% for user in users %}

      <tr>

        <td>{% if is_paginated %}
              {{ page_obj.start_index|add:forloop.counter|add:'-1' }}
          {% else %}
              {{ forloop.counter }}
          {% endif %}</td>
      	<td>
      	 <a href="{% url 'user_profile' user.id %}" 
          title="{% trans 'Review' %}" class ="modal-edit-form-link">
          {{ user.username }}
          </a>
        </td>
        <td>
          {{ user.first_name }}
        </td>
        <td>
          {{ user.last_name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle"
					type="button" data-toggle="dropdown">{% trans 'Action' %}
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role ="menu">
					<li role="presentation">
						<a role="menuitem" tabindex="-1" 
							href="{% url 'profile_edit' user.id %}" class ="modal-edit-form-link">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							{% trans 'Edit' %}</a>
					</li>
					<li role="presentation">
						<a role="menuitem" tabindex="-1" 
							href="{% url 'user_delete' user.id %}" class ="modal-delete-form-link">
							<i class="fa fa-user-times" aria-hidden="true"></i>
							{% trans 'Delete' %}</a>
					</li>
				</ul>
						
			</div>
		</td>

      </tr>

       {% endfor %}

      </tbody>
      </table>

    {% with object_list=users %}
      {% include "students/pagination.html" %}
    {% endwith %}

	<div class="form-group" id="div-btn">
			<button id="submit-id-login_cancel_button" class="btn home btn-primary" name="home_button" type="button">
			<i class="fa fa-home" aria-hidden="true"></i>
			{% trans ' Home' %}</button>
	</div>
	


</div>

	<!-- End Main Page Content-->

	
{% endblock content %}