{% extends "students/form.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}{% trans 'Edit Exam' %}{% endblock meta_title %}

{% block extra_css %}
<style >
	body {
    background-color: {{BACKGROUND}};
    color: {{TC}};
    }	

    label {
    		color: {{TC}};
    		display: inline;
    		font-size: 110%;
    		font-weight: 700;
    		line-height: 2;
    		float: left;
    		text-align: left;
    		white-space: nowrap;
        margin-top: 15px;

		}

	form {
      float: left;
      width: 100%;

      background-color: {{STYLE}};
      
      padding-left:15px;
      padding-top:15px;
      padding-bottom:15px;

      color:black;
     }

     a {
      color: {{LINK}};
      text-decoration: none;

    }

    a:hover, a:focus {
      color: {{FOCUS}};
      text-decoration: underline;

    }
</style>

{% endblock extra_css %}

{% block content %}

	<!-- Start Main Page Content -->

	<div class="row" id ="content-columns">
		
		<div class="col-xs-12" id="content-column">
	  		<h3>{% trans 'Form edit exam' %}</h3>
	  	</div>

		{% if form.errors %}

		<div class="alert alert-warning" role="alert">
			<!-- Будь-ласка, виправте наступні помилки -->
			{% trans 'Please correct the following errors' %}
		</div>

		{% endif %}

		<!-- Form -->  
	
		{% csrf_token %}

    	<div id='ajax_form'>
		{% crispy form %}
		</div>

	</div>
	 
	<!-- End Main Page Content-->

{% endblock content %}

