{% extends "students/form.html" %}

{% load i18n %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}{% trans 'Edit Student' %}{% endblock meta_title %}

{% block content %}

	<!-- Start Main Page Content -->

	<div class="row" id ="content-columns">
		
		<div class="col-xs-12" id="content-column">
	  		<h3>{% trans 'Form edit student' %}</h3>
	  	</div>

		{% if form.errors %}

		<div class="alert alert-warning" role="alert">
			<!-- Будь-ласка, виправте наступні помилки -->
			{% trans 'Please correct the following errors' %}
		</div>

		{% endif %}

		<div id='ajax_form'>
		{% crispy form %}
		</div>

	</div>

	<!-- End Main Page Content-->
	
{% endblock content %}
